.main {
  order: 4;

  &__title-container {
    display: flex;
    justify-content: center;
  }

  &__title {
    display: inline-block;
    position: relative;
    padding: 21px 52px;
    font-size: 18px;
    color: #393939;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

    &::before {
      @extend %titleArrow;
      left: 0;
      background-image: url("../images/left-arrow.png");
    }

    &::after {
      @extend %titleArrow;
      right: 0;
      background-image: url("../images/right-arrow.png");
    }
  }
}
