.top-slider {
  order: 3;
  min-height: 195px;
  height: 50vw;
  position: relative;

  @media (min-width: 768px) {
    order: 1;
    min-height: 457px;
  }

  &__container {
    position: relative;
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    grid-template-rows: 1fr 35px;
    min-height: 195px;
    height: 50vw;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;

    @media (min-width: 768px) {
      min-height: 457px;
    }

    &--1 {
      background-image: url("../images/slide-1.jpg");
      background-size: 181%;
      background-position: -86px -49px;

      @media (min-width: 768px) {
        background-size: 140%;
        background-position: -159px -12px;
      }
    }

    &--2 {
      background-image: url("../images/slide-2.jpg");
      background-size: 181%;
      background-position: -86px -49px;
    }

    &--3 {
      background-image: url("../images/slide-3.jpg");
      background-size: 181%;
      background-position: -86px -49px;
    }

    &--4 {
      background-image: url("../images/slide-4.jpg");
      background-size: 181%;
      background-position: -186px -49px;
    }

    &--5 {
      background-image: url("../images/slide-5.jpg");
      background-size: 181%;
      background-position: -86px -49px;
    }
  }

  &__content {
    position: absolute;
    top: 54%;
    left: 3vw;
    transform: translate(0, -50%);
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 27px 57px;

    @media (min-width: 480px) {
      left: 20vw;
    }

    @media (min-width: 768px) {
      left: 8vw;
      top: 51%;
    }

    &--2 {
      color: $white;
    }

    &--3 {
      color: $white;
    }

    &--4 {
      color: $white;
    }

    &--5 {
      color: $white;
    }
  }

  &__title {
    padding: 0 20px;
    align-self: end;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    border-bottom: 1px solid $black;

    @media (min-width: 480px) {
      font-size: 23px;
    }

    @media (min-width: 768px) {
      padding-bottom: 6px;
    }
  }

  &__bolder {
    font-weight: 900;
  }

  &__desctiption {
    padding-top: 3px;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;

    @media (min-width: 480px) {
      font-size: 15px;
    }
  }

  &__button {
    width: 76px;
    height: 23px;
    border: 2px solid $black;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 19px;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: 480px) {
      font-size: 16px;
    }

    @media (min-width: 768px) {
      align-self: center;
    }

    &--2 {
      color: $white;
      border-color: $white;
    }

    &--3 {
      color: $white;
      border-color: $white;
    }

    &--4 {
      color: $white;
      border-color: $white;
    }

    &--5 {
      color: $white;
      border-color: $white;
    }
  }

  &__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 11px 0;

    @media (min-width: 768px) {
      padding: 15px 0;
    }
  }

  &__dots-container {
    display: flex;
    justify-content: space-between;
    width: 75px;
  }

  &__dot {
    width: 13px;
    height: 13px;
    background-color: $white;
    border: 1px solid #929292;
    border-radius: 50%;

    &--active {
      background-color: $black;
    }
  }
}
